{% extends 'base.html.twig' %}

{% block title %}Animal Detail{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    {{ animal.name }}
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            {{ animal.breed }} 
                        </li>
                        <li class="list-group-item">
                            Height : {{ animal.height}}<br>
                            Weight : {{ animal.weight}}<br>
                            Price : {{ animal.price}}<br>
                            Birthday : {{ animal.getBirthDate|date("m/d/Y", false) }}<br>
                            Age : {{"now"|date("Y")-animal.getBirthDate|date("Y", false)}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% if animal.adopted == 0 and animal.adoptedAt is null %}
            <button class="btn btn-primary"
                    id="add-to-cart"
                    data-href="{{ path('animal_add_to_cart') }}"
                    data-id="{{animal.id|nzo_encrypt}}"
            >
                Add to cart
            </button>
        {% endif %}
    {% endif %}
{% endblock %}
